@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

/* PARA AJUSTAR TAMAÑOS Y MARGENES
{
  outline: 1px dotted yellow;
}*/


body {
  background-color: #000;
  background-image: url(images/tapete.jpg);
  background-repeat: repeat;
}

footer {
  font-size: 0.9em;
  color: #444;
  text-align: center;
  width: 1000px;
  margin: 5px auto;
}

footer:hover, footer a:hover {
  color: #fff;
}

footer a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
}

footer img {
  margin: 0 15px;
  height: 15px;
}

footer #speaker {
  float: right;
  margin: 0 5px;
}


#jugDat {
  position: absolute;
  top: 115px;
  width: 125px;
  line-height: 18px;
  text-align: center;
  color: #ffd;
  text-shadow: 2px 1px #050;
}

#jugDat.left {
  left: 15px;
}

#jugDat.right {
  right: 15px;
}

#jugDat div:first-of-type{
}

#jugDat div{
  float: left;
  padding: 10px 10px;
  width: 100px;
  margin-right: 5px;
}


#jugDat img {
  margin: 3px;
  width: 30px;
}

#jugDat span {
  font-size: 1.1em;
  font-weight: bold;
}


/* Sombra en hover sin necesidad de imagen adicional */
footer #speaker:hover, #jugDat img:hover {
  -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,.7));
  -moz-filter: drop-shadow(0 2px 2px rgba(0,0,0,.7));
  -ms-filter: drop-shadow(0 2px 2px rgba(0,0,0,.7));
  -o-filter: drop-shadow(0 2px 2px rgba(0,0,0,.7));
  filter: drop-shadow(0 2px 2px rgba(0,0,0,.7));
}

#marcador, #tablero {
  position: relative;
  border: 2px solid #050;
  border-radius: 10px 10px 10px 10px;
  background-color:rgba(0,0,0,0.3);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
  margin: 15px auto;
  width: 1000px;
  text-align: center;
}

#marcador {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;  
  height: 90px;
}

.titulo {
  text-decoration: underline;
}

#puntuacion, #tiradas{
  width: 200px;
  text-align: center;
  font-weight: bolder;
  color: #ff0;
  line-height: 0em;
  text-shadow: 2px 2px #a50;
  font-size: 1.3em;
  height: 90px;
}

#puntuacion{
  float: left;
}

#puntuacion > p, #tiradas >p {
  line-height: 1em;
  font-size: 1.3em;
}

#tiradas {
  float: right;
}

#tablero {
  height: 460px;
  overflow: hidden;
  font-size: 40px;
  margin: 5px auto 10px;
}

.tableroInicioFin {
  font-family: 'Oxygen Mono', monotype;
  font-size: 45px !important;
  color: #fff;
  text-shadow: 4px 4px #555;
  line-height: 1.3em;
}

.gloria {
  font-family: 'Gloria Hallelujah', cursive;
}

.carta:before, .carta:after {
  content:"";
  position:absolute;
  bottom:0;top:2px;left:15px;right:15px;
  z-index:-1;
  border-radius:100px/30px;
 -webkit-box-shadow:0 0 15px 2px #000;
  -moz-box-shadow:0 0 15px 2px #000;
  box-shadow: 0 0 15px 2px #000;
}

.carta {
  position: relative;
  float: left;
  color: #f00;
  margin: 14px 11px 5px 16px;
  width: 95px;
  height: 130px;
  background-color: #ccc;
  border: 1px solid black;
  line-height: 120px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px #333;
  border-radius: 10px;
}

.cgreen {
  background: url(images/reversocartagreen.jpg);
  background-size: 100% 100%;  
}

.cgray {
  background: url(images/reversocartagray.jpg);
  background-size: 100% 100%;  
}

.cblue {
  background: url(images/reversocartablue.jpg);
  background-size: 100% 100%;  
}

.cgold {
  background: url(images/reversocartagold.jpg);
  background-size: 100% 100%;  
}

.cpurple {
  background: url(images/reversocartapurple.jpg);
  background-size: 100% 100%;  
}

.cred {
  background: url(images/reversocartared.jpg);
  background-size: 100% 100%;  
}

.cartaMostrada {
  background: url(images/anversocarta.jpg);
  background-size: 100% 100%;
}

.cartaAcertada {
  background: url(images/cartaacertada.jpg);
  background-size: 100% 100%;
}

.clear {
    clear: both;
}

/* Burbujas */

.burbuja {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 85px;
  color: #fff;
  position: fixed;
  width: 150px;
  height: 162px;
  line-height: 150px;
  text-align: center;
}

.burbOra {
  background-image: url(images/burbOrange.png);
  background-size: 100%;
  text-shadow: 2px 2px #f57127;
}

.burbBlue {
  background-image: url(images/burbBlue.png);
  background-size: 100%;
  text-shadow: 2px 2px #00a3ff;
}

.burbOraRota {
  background-image: url(images/burbOraRota.png);
  background-size: 100%;
  text-shadow: 2px 2px #f57127;
}

.burbBlueRota {
  background-image: url(images/burbBlueRota.png);
  background-size: 100%;
  text-shadow: 2px 2px #00a3ff;
}

/* Botones */
#botonStart {
  float: left;
  margin: 0 auto;
  width: 500px;
  height: 90px;
}

#leftStart {
  margin: 0 65px 0 0;
  height: 48px;
}

#rightStart {
  margin: 0 0 0 65px;
  height: 48px;
}

#start {
  margin: 5px auto 0;
  width: 48px;
}

#textInf {
  opacity: 1;
  margin: 0 auto;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
}

#crono {
  font-family: 'Oxygen Mono', monospace;
  font-weight: normal;
  opacity: 0.6;
  width: 115px;
  margin: 0 auto;
  padding: 2px;
  line-height: 20px;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  border: 2px solid rgba(0,50,0, 1);
  background-color:rgba(0,0,0,0.3);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
}

/* VENTANA MODAL */
#popup{
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);  
  z-index: 1001;
}

.content-popup {
  margin:0px auto;
  margin-top:120px;
  position:relative;
  padding:10px;
  width:500px;
  min-height:250px;
  border: 2px solid #050;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
  background-image: url(images/tapete.jpg);
}

#popupCook {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);  
  z-index: 1001;
}

.content-popupCook {
  margin:0px auto;
  margin-top:120px;
  position:relative;
  padding:10px;
  width:750px;
  min-height:175px;
  border: 2px solid #050;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
  background-image: url(images/tapete.jpg);
}

.content-popup h2, .content-popupcf h2, .content-popupCook h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2em;
  text-shadow: 2px 2px #a50;
  color:#ff0;
  border-bottom: 1px solid #48484B;
  margin-top: 0;
  padding-bottom: 4px;
}

.content-popup div, .content-popupcf div, .content-popupCook div {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #500;
}

.content-popupCook div p {
  text-align: justify;
  text-shadow: none;
}

.content-popup div:nth-of-type(2) {
  text-align: center;
}

.popup-overlay {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  display:none;
  background-color: #777;
  cursor: pointer;
  opacity: 0.5;
}

.close {
  position: absolute;
  right: 15px;
  top: 5px;
}

#closBt {
  width: 32px;
}

#iNombre {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #0a0;
  border-radius: 5px;
  border-color: none;
  margin: 5px 0;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
}

#bNombre, #bNombreESLA, #bNombreSTARW  {
  width: 110;
  height: 34;
  font-size: 1.1em;
  margin: 10px 5px;
  border: 2px solid #050;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
}

/* FORMULARIO DE CONFIGURACION */

#popupcf {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);  
  z-index: 1001;
}

.content-popupcf {
  margin:0px auto;
  margin-top:120px;
  position:relative;
  padding:10px;
  width:700px;
  min-height:300px;
  border: 2px solid #050;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
  background-image: url(images/tapete.jpg);
  font-size: 14px;
}

input[type="radio"] {
  margin-left: 10px;
}

legend {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 15px;
}

fieldset#colorCartaCf {
  margin: 0 10px;
  padding: 0;
  float: left;
  text-align: left;
  width: 250px;
  border: 2px groove white;
}

fieldset#colorCartaCf img{
  float: right;
  width: 80px;
  height: 112px;
  margin: 0px 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;
}

fieldset#posConf {
  float: left;
  margin: 0 10px;
  padding: 3px;
  text-align: left;
  width: 250px;
  border: 2px groove white;
}

#gConf {
  float: left;
  margin: 0 10px;
  padding: 2px 5px;
}

#chkMuestraInicio {
  float: left;
  text-align: left;
  width: 380px;
  margin: 10px 10px 0 ;
  padding-left: 9px;
}

#cancionFondo {
  float: left;
  text-align: center;
  width: 95%;
  margin: 10px 10px 0 ;
  padding-left: 9px;
  font-size: 16px;
  font-weight: bold;
}


fieldset#valRetCarta {
  float: left;
  text-align: left;
  width: 380px;
  margin: 10px 10px 0;
  padding: 3px;
  border: 2px groove white;
}

#rangTmp {
  width: 250px;
}

#rangTmp + span {
  font-size: 16px;
  font-weight: bold;
  margin: -10px 0 0 15px;
}

#enviaConf {
  float: left;
  margin: 10px 10px;
  width: 100px;
}

#enviaConf input {
  box-shadow: 1px 1px 2px #000;
}

/* HIGH SCORE ESTILOS */

#hS {
  position: absolute;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 1.3em;
  width: 100%;
  text-shadow: 2px 2px #a50;
  color:#ff0;
}

#hS h2 {
  font-size: 55px;
  text-decoration: underline;
}

#hS span {
  display:block;
  float: left;
  margin: 0 30px;
  font-size: 30px;
}

#hS span.tituloHS {
  text-align: center !important;
  font-size: 40px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #ff0;
}

#hS span.nombreHS {
  text-align: left;
  width: 400px;
  margin-left: 95px;
}

#hS span.tiempoHS {
  text-align: center;
  width: 150px;
}

#hS span.puntosHS {
  text-align: right;
  width: 100px;
}

#hS span.nJHS {
  text-shadow: 2px 2px #fff !important;
  color:#49f !important;
  font-size: 35px;
}

.limpia {
  clear: both;
}